:root {
    --clr-primary-200: #fffb00;
    --clr-primary-500: #c40101;
    --clr-primary-900: #4e4e4e;

    --clr-neutral-100: #fff;
    --clr-neutral-300: #222c2a;

    --ff-primary: 'Agdasima';
    --ff-accent: 'kanit';
}


* {
    padding: 0;
    margin: 0;
}

body {
    background-color: darkcyan;
    font-family: var(--ff-primary);
    text-align: center;
    
}

h1 {
    font-size: 16mm;
    font-style: var(--clr-primary-900);
    text-shadow: 2px 2px 2px #fffb00;
    font: 5em var(--ff-primary);
    margin-bottom: 5px;
    
       
}

.head {
    border-style: solid;
    border-color: #fffb00;
    border-radius: 8px;
    background-color: #3b3939;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

