:root {
    --clr-primary-200: #fffb00;
    --clr-primary-500: #c40101;
    --clr-primary-900: #4e4e4e;

    --clr-neutral-100: #fff;
    --clr-neutral-300: #222c2a;

    --ff-primary: 'Kanit';
    --ff-accent: 'Arial, Helvetica, sans-serif';
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (max-width: 478px) {
    body {
        flex-direction: column;
        display: flex;
        max-width: 100%;
    
    }
}

@media (max-width: 478px){
    body .grid,
    .header,
    .grid
     {
        background-color: #94bfe2;
        font-size: smaller;
        max-width: 100%;
        flex-direction: column;

    }

}

@media (max-width: 478px) {
    .welcome,
    .welcome p,
    #Zuidervaart
    {
        background-color: #aca5a5;
        color: #164179;
        border-color: #353434;
        font-size: medium;
        font-weight: bold;
    }
}

body {
    font-family: var(--ff-primary);
    color: var(--clr-neutral-300);
    font-weight: 300;
    line-height: 1.4;
    background-color: #cccbcb;
         
}

header {
    padding: 10px 10px;
    background-color: #8f8c8c;
    border-style: solid;
    align-items: center;
    border-top-right-radius: 25px;
    text-align: center;
       
}

header img {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

header .grid {
    grid-column: 7 / span 6; 
    max-width: 100%;
    
}

header nav {
    justify-self: end;
    grid-column: 2 / span 5;
    
}

.grid nav a {
    display: grid;
    justify-items: center;
    position: relative;
    padding: 8px;
    max-width: 100%;
}

header nav a {
    color: #333;
    justify-self: end;
    text-decoration: none;
    text-align: right;
    font-size:medium;
    
      
}

main .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    max-width: 100%

}

.grid a {
    text-align: center;
    color: rgb(1, 80, 80);
}

.grid img {
    max-width: 100%;
    border-style: solid;
    border-radius: 5px;
    float: left;
    margin-right: 4px;
    
}

.card {
    background-color: #4e4e4e;
    padding-left: 3px;
    color: aliceblue;
    padding-right: 3px;
       
}

.card img {
    border-color: #222c2a;
    max-width: 100%;
    margin-top: 5px;
    
      
}

.welcome img {
    max-width: 98%;
    border-style: solid;
    margin-top: 5px;
       
}

#weetjes {
    border-style: solid;
    border-radius: 5px;
    padding-left: 3px;
    max-width: 98%;

}

.container { 
    border-style: solid;
    border-color:#222c2a;
    border-radius: 5px;

}


@media (max-width: 478px){
    table
     {
        max-width: 100%;
        background-position: 100px;

    }

}
table {
    margin-top: 12px;
    flex-direction: row;
    grid-template-columns: repeat(2, 1fr)
    
}

table td {
    border-style: solid;
    border-radius: 5px;
    border-color:#353434;
    background-color:cadetblue;
    padding: 3px;
    display: flex;
    background-size: cover;
    flex-wrap: wrap;
      
}

#zoutsloot {
    margin-bottom: 5px;
    width: 100px;
    margin-left: 5px;
 
}

.color1 {
    background-color: #fd0101;

}

#havenmantsje {
    margin-bottom: 5px;
    margin-left: 5px;
    width: 100px;
     
}

#willemb {
    margin-bottom: 5px;
    margin-left: 5px;
    width: 100px;
    text-align: center;
}

#brouwdok {
    max-width: 25%;
    border-color: #4b0101;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    
}

.color2 {
    background-color: rgb(255, 255, 255);
    color: black;

}

.color3 {
    background-color: rgb(0, 0, 255);

}

footer {
    border-style: solid;
    border-color: #3f028f;
    border-bottom-left-radius: 25px;
    background-color:#4e4e4e;
    align-content: center;
    align-items: center;
    display: grid;
        
}

footer h1 {
    align-items: center;
    text-align: center;
}

footer a {
    text-decoration: none;
    color:#5e4906;
    
}

button {
    position: relative;
    background: #969595;
    color: black;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    padding: 5px 10px;
    transition: 0.5s;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(121, 0, 0);
         
}

:hover button {
    letter-spacing: 0.2em;
    background-color: var(--clr);
    box-shadow: 0 0 35px #008b8b;
    background-color: #014b4b;
    border-radius: 5px;
    border-style: solid;
    border-color: #27282c;
    
}

footer #brouwdok {
    text-align: center;
    display: inline;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-style: solid;
    border-radius: 5px;
    
}
